<!DOCTYPE html>
<html>
  <head>
    <title>Box Black Internationals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <!-- <link rel="manifest" href="/site.webmanifest"> -->

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" integrity="sha512-dhpxh4AzF050JM736FF+lLVybu28koEYRrSJtTKfA4Z7jKXJNQ5LcxKmHEwruFN2DuOAi9xeKROJ4Z+sttMjqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
  <link rel="stylesheet" href="custom.css" />
  <link rel="stylesheet" href="overwrite.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="/index.html" class="brand active"><img width="150px" height="70px" src="/img/custom/home-logo.png" alt="Service Home" class="img-rounded"></a>
        
          <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        
          <div class="collapse nav-collapse">         
            <ul class="nav pull-right" style="padding-top:20px">
              <li class="hover"><a href="/index.html" style="color:#000;font-weight: bold"><i class="icon-home"></i>&nbsp;Home</a></li>
              <li><a href="products.html" style="color:#000;font-weight: bold"><i class="icon-th-list"></i>&nbsp;Services</a></li>
              <li><a href="about.html" style="color:#000;font-weight: bold"><i class="icon-info-sign"></i>&nbsp;About Us</a></li>
              <!-- <li data-toggle="modal" data-target="#modal-contact-form"><a href="" style="color:#000;font-weight: bold">
                <i class="icon-user"></i>&nbsp;Contact Us</a></li> -->
              <li><a href="/user/registration" style="color:#000;font-weight: bold"><i class="icon-user"></i>&nbsp;Career</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- end navbar -->





      <!-- MODAL CONTACT FORM -->
      <div class="modal hide fade" id="modal-contact-form">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <h3 class="btn btn-block btn-danger btn-small">Contact Us</h3>
        </div>

        <div class="modal-body">
          <form action="mail.php" method="POST" class="form-horizontal">
            <div class="control-group">
              <label for="contact-name" class="control-label"><strong>Name:</strong></label>

              <div class="controls">
                <input type="text" id="contact-name" />
              </div>
            </div>

            <div class="control-group">
              <label for="contact-email" class="control-label"><strong>Email:</strong></label>

              <div class="controls">
                <input type="email" id="contact-email" />
              </div>
            </div>

            <div class="control-group">
              <label for="contact-message" class="control-label"><strong>Message:</strong></label>

              <div class="controls">
                <textarea name="contact-message" id="contact-message" cols="30" rows="10"></textarea>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <input type="submit" class="btn btn-primary" value="Send Message" />  <a href="" data-dismiss="modal" class="btn btn-inverse">Cancel</a>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">

        </div>
      </div> <!-- end modal -->
      
      <%= yield %>
      
      <!-- FOOTER -->
      <section class="container">
        <!--
        
        <hr />
        
        <ul class="inline text-center">
          <li><strong>Follow Us On:</strong></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
          <li><a href="">LinkedIn</a></li>
        </ul> -->
        <div>
          <hr />
          <p class="text-center muted copyright">&copy; Copyright 2020 BoxBlackInternationals.com</p>
        </div>
      </section>
    </div>
  </body>
</html>
